
<!-- Page Content -->
    <div class="container" style="width:80%">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Projects
                    <small>Commercial Sector</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                   <%= image_tag('paypalpro700x400.png', :class => 'img-responsive', :size => '500x200', :alt => 'projects') %>

                </a>
            </div>
            <div class="col-md-7">
                <h3>Project One</h3>
              <h4><span style="color:#307C00;">Project: </span><span style="font-size:16px;color:#777"><strong>Ebay / Paypal Ireland</strong></span></h4>
              <h4><span style="color:#307C00;">Location: </span><span style="font-size:16px;color:#777">Blanchardstown Corporate Business Park</span></h4>
              <h4><span style="color:#307C00;">Description: </span><span style="font-size:16px;color:#777">3 storey office development comprising approximately 90,000ft designed to accommodate 5 separate blocks. </span></h4>
              <h4><span style="color:#307C00;">Installation: </span><span style="font-size:16px;color:#777">50 VRF condensing units (500hp), 170 concealed ducted units. Dedicated 'Amy' software air conditioning management system.</span></h4>

           <!--     <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>-->
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                  <%= image_tag('dellpro700x400.png', :class => 'img-responsive', :size => '500x200', :alt => 'projects') %>

                </a>
            </div>
            <div class="col-md-7">
                <h3>Project Two</h3>

               <h4><span style="color:#307C00;">Project: </span><span style="font-size:16px;color:#777"><strong>Cherrywood Development (DELL)</strong></span></h4>
              <h4><span style="color:#307C00;">Location: </span><span style="font-size:16px;color:#777">Block A/C & A/D, Cherrywood Science & Technology Park, Dublin</span></h4>
              <h4><span style="color:#307C00;">Description: </span><span style="font-size:16px;color:#777">Approximately 220,000ft office development over 4 floors with block A/C linked to create an extension to the existing Dell office building. </span></h4>
              <h4><span style="color:#307C00;">Installation: </span><span style="font-size:16px;color:#777">66 VRF R410a condensing units (1000hp), 7no DC Inverter split systems, 380 Concealed ducted units, 6 Underceiling units.</span></h4>
               <!-- <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>-->
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                 <%= image_tag('symentecProject1.png', :class => 'img-responsive', :size => '500x200', :alt => 'projects') %>

                </a>
            </div>
            <div class="col-md-7">
                <h3>Project Three</h3>
                <h4><span style="color:#307C00;">Project: </span><span style="font-size:16px;color:#777"><strong>Google</strong></span></h4>
              <h4><span style="color:#307C00;">Location: </span><span style="font-size:16px;color:#777">Barrow St, Dublin (Gas Works Site)</span></h4>
              <h4><span style="color:#307C00;">Description: </span><span style="font-size:16px;color:#777">This high spec office development in the old gas works site is a seven storey over basement car park with 120,000ft office space. </span></h4>
              <h4><span style="color:#307C00;">Installation: </span><span style="font-size:16px;color:#777">61 VRF outdoor condensing units (560hp), 160 Concealed ducted type indoor units, System controllers for central control.</span></h4>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-5">
                <a href="#">
                  <%= image_tag('ashtownpro700x400.png', :class => 'img-responsive', :size => '500x200', :alt => 'projects') %>
                </a>
            </div>
            <div class="col-md-7">
                <h3>Project Four</h3>
                <h4><span style="color:#307C00;">Project: </span><span style="font-size:16px;color:#777"><strong>Ashtown Gate Development</strong></span></h4>
              <h4><span style="color:#307C00;">Location: </span><span style="font-size:16px;color:#777">Old Tin Box Site, Dublin</span></h4>
              <h4><span style="color:#307C00;">Description: </span><span style="font-size:16px;color:#777">A combination of 4, 5 & 6 storey office development with blocks A, B, C & D extending over 130,000ft of office space.</span></h4>
              <h4><span style="color:#307C00;">Installation: </span><span style="font-size:16px;color:#777">65 VRF condensing units (650hp), 320 Concealed & semi concealed type ducted units using 3-pipe & 2-pipe technology</span></h4>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                    <%= image_tag('facebookpro700x400.png', :class => 'img-responsive', :size => '500x200', :alt => 'projects') %>
                </a>
            </div>
            <div class="col-md-7">
                <h3>Project Five</h3>
                <h4>Facebook</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->
  <hr>
       <!-- Project Six -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                     <%= image_tag('distillersProject.png', :class => 'img-responsive', :size => '500x200', :alt => 'projects') %>
                </a>
            </div>
            <div class="col-md-7">
                <h3>Project Five</h3>
                <h4>Paypal</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

</div>











