<!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Projects
                    <small>Commercial Office Spaces</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="col-md-4 portfolio-item">
              <a href="#">
                    <%= image_tag('distillersProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #777">Irish Distillers</span></a>
                </h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
               
            <div class="col-md-4 portfolio-item">
                <a href="#">
                     <%= image_tag('symentecProject1.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #777">Symantec</span></a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                   <%= image_tag('ashtownpro700x400.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #777">Ashtown Development</span></a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="col-md-4 portfolio-item">
              <a href="#">
                     <%= image_tag('dellpro700x400.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #777">Dell</span></a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            
            <div class="col-md-4 portfolio-item">
              <a href="#">
                     <%= image_tag('facebookpro700x400.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #777">Facebook</span></a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
              
            <div class="col-md-4 portfolio-item">
                <a href="#">
                     <%= image_tag('paypalpro700x400.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #777">PayPal</span></a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
</div>