


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag('fan2.png', :alt => 'fan') %>
         <!-- <img class="first-slide" src="Crystal1.png" alt="First slide">-->
          <div id="carouselhead" class="container">
            <div class="carousel-caption">
              <h3>Ireland's Leading</h3>
              <h1 class="carohead">Air Conditioning</h1>
              <h3>Specialists in Installation, Service & Maintenance</h3>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div id="carouselhead" class="container">
            <div class="carousel-caption">
              <h1><span style="font-size: 23px; letter-spacing: 2px">Irelands Leading Air Conditioning Specialists.<br> Why?</span></h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div id="carouselhead" class="container">
            <div class="carousel-caption">
              <h1>High Spec Design & Installation Projects.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="height: 500px">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="height: 500px">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
 <!--<center><h2>Our Goals</h2></center>-->




<section class="section-lines1" style="background-color: #fff;">
    <div class="container" style="width: 90%">
        <div class="row">
            <div id="latestprojectscol4" class="col-md-12">


                   <div class="col-md-6">
                     <div class="home-devices" style="background-color: beige;
    border-radius: 50%; padding-top: 8%; width: 90%">
                    <h3 class="head3">What Can Crystal Air Do For You?</h3>
                    <p><span style="text-align: left">7-year warranty on Mitsubishi Electric Equipment for Crystal Air customers. What this means for you is that because we have proved our commitment to the Mitsubishi Electric brand by reaching high standards in installation, commissioning, maintenance, health and safety, refrigerant handling and Corporate Social Responsibilty, we get to offer our clients a 7-year warranty on Mitsubishi equipment.

</span></p> <p><span style="text-align: center, padding-bottom: 13%"><strong>At Cystal Air our Customers Satisfaction is No1.</strong></span></p><br>
 <%= image_tag('WARR.png', :size => '200x200', :class => 'featurette-image img-responsive center-block1', :alt => 'install') %>

<!--<div class="quote">-->
                     </div>
                     </div>
 <!--<div id="freecooling" class="col-lg-4">


   <div class="home-devices">
   </div>

 </div>-->

               <div class="col-md-6" >
                   <div class="home-devices" style="background-color: beige;
    border-radius: 50%; padding-top: 8%; width: 90%">
                    <h3 class="head3">What Else Can Crystal Air Do For You?</h3>
                    <p><span style="text-align: center"> Crystal  Air offers you a free site Survey on possible R22 replacement options. This will provide you with best fit options for your air conditioning system. If your building was built before 2003, the chances are it uses R22 refrigerant. At the end of 2014 it will be illegal to use R22 refrigerant as leaked refrigerant is a threat to the ozone layer.Please request this site visit date on the contact us page.

</span></p>
                  <p><span style="text-align: center, padding-bottom: 13%"><strong>At Cystal Air we strive for an Eco Friendly Environment.</strong></span></p><br>


                      <%= image_tag('R22.png', :size => '200x200', :class => 'featurette-image img-responsive center-block1', :alt => 'install') %>
                  </div>
              </div>
          </div>
      </div>

      </div>


 <p><a class="btn btn-default" href="#" role="button" style="position: relative;
    left: 45.9%;
    top: -45px;
">Contact Us Now &raquo;</a></p>

</section>





 <div class="section-tout">
      <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><span style="color: #fff">Services</span>
                    <small>24 Hours A Day,  365 days a year.</small>
                </h1>
            </div>
        </div>

        <div class="row">

          <div id="servicecol4" class="col-lg-4 col-sm-6">
            <h3><!--<i class="fa fa-file-o">--><%= image_tag('installicon.png', :class => 'fa fa-file-o', :size => '60x60', :alt => 'fan') %><!--</i>--> Installation</h3>

            <p><span style="color: #fff">Because installation is so important, we have drawn up a thorough system to which our installation team adhere. We call it the Crystal Air process and we are happy to say that it has been validated by the ISO 9001 auditors. </span></p>
          </div>
          <div id="servicecol4" class="col-lg-4 col-sm-6">
            <h3><!--<i class="fa fa-github">--><%= image_tag('serviceicon.png', :class => 'fa fa-file-o', :size => '60x60', :alt => 'fan') %><!--</i>-->Service & Maintenance</h3>
            <p><span style="color: #fff">A planned regular maintenance programme will ensure that the equipment will function effectively and efficiently throughout its years of service and as a result will minimize breakdowns, spare parts costs and protect your investment. </span><!-- <a target="_blank" href="https://github.com/thomaspark/bootswatch">GitHub</a>.--></p>
          </div>
          <div id="servicecol4" class="col-lg-4 col-sm-6">
            <h3><!--<i class="fa fa-wrench">--><%= image_tag('designiconpen.png', :class => 'fa fa-file-o', :size => '60x60', :alt => 'fan') %>Design</h3>
            <p><span style="color: #fff">At Crystal Air, we love a blank canvas
When you design a new area or building you have a unique opportunity to get your heating and cooling systems exactly right. Our engineers take a long-term view, taking into account your plans for the next expansion, be that next year or in ten years.
 </span></p>
          </div>
          <div id="servicecol4" class="col-lg-4 col-sm-6">
            <h3><!--<i class="fa fa-cogs">--><%= image_tag('turnkeyicon.png', :class => 'fa fa-file-o', :size => '60x60', :alt => 'fan') %><!--</i>-->Turnkey Solutions</h3>
             <p><span style="color: #fff">Turnkey solution partner - what does that mean? It means that we appoint and manage any additional contractors you need: builders, plumbers, electricians, and, where you need a job signed off for professional indemnity insurance purposes, we'll appoint a consulting engineer.</span></p>
          </div>
          <div id="servicecol4" class="col-lg-4 col-sm-6">
            <h3><%= image_tag('thermalstorageicon.png', :class => 'fa fa-file-o', :size => '60x60', :alt => 'fan') %>Thermal Energy Storage</h3>
            <p><span style="color: #fff">Proven in Europe, the USA and the Middle East, PCM TES is a more efficient and cost effective way to deliver energy to chill air. By creating and storing energy during off-peak periods which can then be used in high-demand periods, it spreads the daytime requirement for energy to chill or heat air.</span> </p>
          </div>
          <div id="servicecol4" class="col-lg-4 col-sm-6">
            <h3><%= image_tag('phone1icon.png', :class => 'fa fa-file-o', :size => '60x60', :alt => 'fan') %>24 Hour Support</h3>
            <p><span style="color: #fff">Whether you’re a consultant at design stage or an end user, you need to know that our systems will not let you down. In order to ensure that you get the most from your investment, we have engineered preventative maintenance programmes to international standards with 24 hour service 365 days a year.</span></p>

          </div>
        </div>
<p><center><a class="btn btn-default" href="#" role="button">View details &raquo;</a></center></p>

      </div>

    </div>



      <!-- START THE FEATURETTES -->
<section class="section-lines">
    <div class="container" style="padding-left: 10%; padding-right: 10%">
       <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><span style="color: #777">Environmental</span>
                    <small></small>
                </h1>
            </div>
        </div>
            <div id="latestprojectscol4" class="col-md-4">
                <div class="home-devices">
                    <h3 class="head3">Go Green With Crystal Air</h3>
                    <p>Green Cooling is what we call environmentally friendly air-conditioning and refrigeration (RAC) with minimum negative impacts on the environment.

The negative environmental effects of cooling appliances are due to their direct and indirect emissions. To avoid emissions, green cooling RAC equipment involves two main factors: Climate-friendly refrigerant and high energy efficiency.</p>
                  <p>At Cystal Air we strive for an Eco Friendly Enviornment.</p>

                </div>
            </div>
            <div id="latestprojectscol8" class="col-md-8">
                <div class="tab-content">

                       <%= image_tag('largesphere1.png', :class => 'img-responsive', :id => 'img1', :alt => 'fan') %>

                </div>

            </div>

        </div>
       <p><center><a class="btn btn-default" href="#" role="button">View details &raquo;</a></center></p>

    </div>
</section>


 <!--     <div class="row featurette">
        <center><h2> Latest Projects</h2></center>
        <div class="col-sm-7">
          <h2 class="featurette-heading">Complete Installation & Design. <span class="text-muted">High Spec.</span></h2>
          <p class="lead" style="line-height: 27px !important;
  font-size: 15px !important; color: #333;
   font-family: 'Open Sans',Arial, Helvetica, sans-serif !important;">Irish Distillers Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
           <center><p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p></center>
        </div>
        <div class="col-md-5">

   <%= image_tag('irishdistillers.jpg', :class => 'featurette-image img-responsive center-block', :size => '390x200', :alt => 'logo') %><!--data-src="irishdistillers.jpg/500x500/auto" alt="Generic placeholder image">-->
<!--    </div>
</div>-->

<section class="section-lines2">
    <div class="container" style="background-color: #777">
       <!-- Page Heading -->
   <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><span style="color: #fff">Latest Projects</span>
                    <small>High Spec</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
  <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                   <%= image_tag('distillersProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #fff">Irish Distillers</span></a>
                </h3>
                <p><span style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</span></p>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <%= image_tag('findlaterProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #fff">Findlater Hotel</span></a>
                </h3>
                <p><span style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</span></p>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                   <%= image_tag('kclubProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #fff">K Club</span></a>
                </h3>
                <p><span style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</span></p>
            </div>

        <!--   <div class="row">-->
            <div class="col-md-3 portfolio-item">
                <a href="#">
                     <%= image_tag('symentecProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #fff">Symantec</span></a>
                </h3>
                <p><span style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</span></p>
            </div>
           <p><center><a class="btn btn-default" href="#" role="button">View details &raquo;</a></center></p>
      </div>
  </div>
          </section>
          <!--

                    <%= image_tag('alexanderProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>

                <h3>
                  <a href="#"><span style="color: #fff">Alexander Hotel</span></a>
                </h3>
                <p><span style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</span></p>
            </div>
          </div>

        <!-- /.row -->

        <!-- Projects Row -->
   <!--     <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                     <%= image_tag('symentecProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #fff">Symantec</span></a>
                </h3>
                <p><span style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</span></p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <%= image_tag('alexanderProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #fff">Alexander Hotel</span></a>
                </h3>
                <p><span style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</span></p>
            </div>
 <div class="col-md-4 portfolio-item">
                <a href="#">
                     <%= image_tag('distillersProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #fff">Irish Distillers</span></a>
                </h3>
                <p><span style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</span></p>
            </div>
            <p><a class="btn btn-default" href="#" role="button" style="position: relative; left: 46%">View details &raquo;</a></p>
        </div>
  </div>
</section>-->
 <!-- Page Content -->
<!--<section class="section-lines2">
    <div class="container" style="background-color: #777">

        <!-- Page Heading -->
<!--        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><span style="color: #fff">Latest Projects</span>
                    <small>High Spec</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
 <!--       <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                   <%= image_tag('distillersProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                   <!-- <img class="img-responsive" src="http://placehold.it/750x450" alt="">-->

 <!--               </a>

            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                  <%= image_tag('findlaterProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>

                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                   <%= image_tag('kclubProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>

                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                   <%= image_tag('symentecProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>

                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
<!--        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                   <%= image_tag('symentecProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>

                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                   <%= image_tag('westburyProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>

                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                   <%= image_tag('alexanderProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>

                </a>

            </div>

            <div class="col-md-3 portfolio-item">
                <a href="#">
                     <%= image_tag('distillersProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
            </div>
            <p><a class="btn btn-default" href="#" role="button" style="position: relative; left: 46%">View details &raquo;</a></p>
        </div>
        <!-- /.row -->



 <!--     </section>-->


 <!-- <div class="container-fluid" style="background-color: grey;">
           <div class="projectsheader">Projects</div>



     <div class="col_4 first" style="background-color:#9CC"><p><%= image_tag('kclub.png', :class => 'img-work', :size => '390x200', :alt => 'logo') %></p></div>
     <div class="col_4 first" style="background-color:#9CC"><p><%= image_tag('irishdistillers.jpg', :class => 'img-work', :size => '390x200', :alt => 'logo') %></p></div>
     <div class="col_4 first" style="background-color:#9CC"><p><%= image_tag('symentec.jpg', :class => 'img-work', :size => '390x200', :alt => 'logo') %></p></div>

     <div id="projects2" class="container-fluid">

     <div class="col_4 first" style="background-color:#9CC"><p><%= image_tag('kclub.png', :class => 'img-work', :size => '390x200', :alt => 'logo') %></p></div>
     <div class="col_4 first" style="background-color:#9CC"><p><%= image_tag('irishdistillers.jpg', :class => 'img-work', :size => '390x200', :alt => 'logo') %></p></div>
     <div class="col_4 first" style="background-color:#9CC"><p><%= image_tag('symentec.jpg', :class => 'img-work', :size => '390x200', :alt => 'logo') %></p></div>
     </div>

      </div>


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Technology, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Thermal Energy Storage with Phase Change Materials (PCM TES) by Crystal Air
Proven in Europe, the USA and the Middle East, PCM TES is a more efficient and cost effective way to deliver energy to chill air. By creating and storing energy during off-peak periods which can then be used in high-demand periods, it spreads the daytime requirement for energy to chill or heat air across 24 hours resulting in important cost and capacity benefits. Here are just some advantages of PCM Thermal Energy Storage:</p>
           <center><p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p></center>
        </div>
        <div class="col-md-5 col-md-pull-7">
           <%= image_tag('chilled_water_tes.jpg', :size => '500x800', :class => 'featurette-image img-responsive center-block', :alt => 'install') %>
          <!--<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
     <!--   </div>
      </div>-->



   <!--   <div id="latestnews" class="row1featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Yes, We lay all the foundations for your. <span class="text-muted">Air Conditioning Needs.</span></h2>
          <p class="lead">Appoint Crystal Air as your turnkey solution partner and we will look after the entire job from beginning to end, freeing you up to look after your business.
Turnkey solution partner - what does that mean? It means that we appoint and manage any additional contractors you need: builders, plumbers, electricians, and, where you need a job signed off for professional indemnity insurance purposes, we'll appoint a consulting engineer.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag('turnkey.png', :size => '500x800', :class => 'featurette-image img-responsive center-block', :alt => 'install') %>
          <!--<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
  <!--      </div>
      </div>-->



      <!-- /END THE FEATURETTES -->


<section class="section-lines3" style="background-color: #f9f9f9">
<div class="container">
     <!-- Page Heading -->

    <section class="margin-bottom">
      <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><span style="color: #777">Who We Are?</span>

                </h1>
            </div>
        </div>

       <div lass="row">
            <div id="finalcol6" class="col-md-6">
                <h2 class="no-margin-top">About us</h2>



                <p> Our core capabilities lie within the HVAC market and we are specialist installers of VRF / VRF and all types of DX plant.</p>
                <p>The business was started in 1997 primarily as an air conditioning installation, service and maintenance contractor for the commercial and industrial building sector.</p>
                <p> With nineteen years operational experience, this has been added and expanded:</p>
                <p>We have a design experience within the sector for Air conditioning, Ventilation and Heating. Furthermore we have a special competence in successfully integrating diverse systems to work in harmony in an energy efficient manner. </p>
                <p>Products available include Chillers, AHU’s, Chilled Beams, Fan Coil Units and free cooling systems.</p>

            </div>
            <div id="finalcol6" class="col-md-6">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          <i class="fa fa-lightbulb-o"></i> Certifications and Memberships
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <p>We are members of Engineers Ireland, the Institute of Refrigeration, the Institute of Refrigeration Ireland, the F-Gas Register, ASHRAE, NISO Safety Accredited, and Patrons of the Irish Hospitality Institute.</p>
                        <p>We’re ISO 9001 certified, EPA approved (PAN), a business solution provider for Mitsubishi Electric (the largest shareholder in the Irish AC sector) , a dealer plus partner for Daikin air conditioning (the largest global AC brand) and an authorised partner of Panasonic Heating & Cooling Systems</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                          <i class="fa fa-desktop"></i>International Recoqnition
                        </a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>We also have an international network, with subsidiary companies established in Finland and the Netherlands, to support overseas projects that can offer data centre cooling using various technologies. All under an umbrella holding company, Crystal Air Holdings Ltd.</p>
                        <p>Incidunt, harum itaque voluptatum asperiores recusandae explicabo maiores. Alias, quos, ex impedit at error id laborum fugit architecto qui beatae molestiae dolorum rem veritatis quia aliquam totam accusamus perferendis. Nulla!</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                          <i class="fa fa-user"></i> Key Resources
                        </a>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Apart from the necessary tools to complete installations and maintenance, our key resources would be our team of a staff of 55 people including;
Service & Maintenance Air Conditioning Engineers, Electricians and apprentices.

</p>
                        <p>Installation Engineers, Apprentices and General Operatives
Administration from our offices in Clane where a team of ten full time staff support the contracts managers and supervisors on site.</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>


       </div>
   </section>

</div>

  <section class="section-test" style="background-color: #777; margin-top: 5%; padding-bottom: 4%">
<div class="container">
     <!-- Page Heading -->


      <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><span style="color: #fff">Testimonials</span>

                </h1>
            </div>
        </div>
<div class="quote">
  <%= image_tag('icon_153.png', :size => '100x100', :class => 'featurette-image img-responsive center-block', :alt => 'install') %>
  </div>
       <div class="row">
            <div id="finalcol6" class="col-md-6">
              <!--  <h2 class="no-margin-top">About us</h2>-->



                        <p> <span style="color: #fff; text-align: center">Our core capabilities lie within the HVAC market and we are specialist installers of VRF / VRF and all types of DX plant. The business was started in 1997 primarily as an air conditioning installation, service and maintenance contractor for the commercial and industrial building sector.</span></p>
                        <p> <span style="color: #fff">
                            <b>- Mark John -</b>
                          </span></p>
                    </div>



            <div id="finalcol6" class="col-md-6">
               <p> <span style="color: #fff; text-align: center">Our core capabilities lie within the HVAC market and we are specialist installers of VRF / VRF and all types of DX plant. The business was started in 1997 primarily as an air conditioning installation, service and maintenance contractor for the commercial and industrial building sector.</span></p>
                        <p> <span style="color: #fff">
                            <b>- Mark John -</b>
                          </span></p>
         </div>
  </div>
  </div>
  </section>



    <div class="container">
        <div class="row">
           <div class="col-lg-12">
                <h1 class="page-header"><span style="color: #777; font-size: 24px">Basics of HVAC</span>

                </h1>
            </div>
            <div id="video" class="col-md-12" style="height: 250px;">
              <div class="embed-responsive embed-responsive-4by3">

  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ScVBPAitibQ" width="560" height="315" frameborder="0" allowfullscreen></iframe>
</div>
          </div>
      </div>
  </div>


   <section class="section-certs" style="background-color: #777; margin-top: 5%; padding-bottom: 4%">
<div class="container">
     <!-- Page Heading -->


      <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><span style="color: #fff">Certified</span>

                </h1>
            </div>
        </div>
<!--<div class="quote">
  <%= image_tag('icon_153.png', :size => '100x100', :class => 'featurette-image img-responsive center-block', :alt => 'install') %>
  </div>-->
       <div class="row">

         <div id="finalcol6" class="col-md-6">
<p> <span style="color: #fff; text-align: center">Our core capabilities lie within the HVAC market and we are specialist installers of VRF / VRF and all types of DX plant. <br><br>The business was started in 1997 primarily as an air conditioning installation, service and maintenance contractor for the commercial and industrial building sector.</span></p>
         </div>

            <div id="finalcol6" class="col-md-2">
              <!--  <h2 class="no-margin-top">About us</h2>-->



<%= image_tag('ISO1.png', :size => '100x100', :class => 'featurette-image img-responsive center-block', :alt => 'install') %><br><br>

                        <p> <span style="color: #fff; text-align: center">ISO Certified<br>Click <%= link_to 'here', root_path %>  for Details</span></p>

                    </div>

            <div id="finalcol6" class="col-md-2">
              <%= image_tag('EPA1.png', :size => '100x100', :class => 'featurette-image img-responsive center-block', :alt => 'install') %><br><br>
              <p> <span style="color: #fff; text-align: center">EPA Certified<br>Click <%= link_to 'here', root_path %>  for Details</span></p>
         </div>

         <div id="finalcol6" class="col-md-2">
            <%= image_tag('Fgas1.png', :size => '100x100', :class => 'featurette-image img-responsive center-block', :alt => 'install') %><br><br>
               <p> <span style="color: #fff; text-align: center">2016 F-GAS Cert<br>Click <%= link_to 'Pdf'%></span></p>
         </div>

                 </div>
  </div>
  </section>



 <section class="section-affliates" style="background-color: #f9f9f9; margin-top: 5%; padding-bottom: 4%">
<div class="container">
     <!-- Page Heading -->


      <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><span style="color: #777">Affiliates</span>

                </h1>
            </div>
        </div>
<!--<div class="quote">
  <%= image_tag('icon_153.png', :size => '100x100', :class => 'featurette-image img-responsive center-block', :alt => 'install') %>
  </div>-->
       <div class="row">
            <div id="finalcol6" class="col-md-2">
              <!--  <h2 class="no-margin-top">About us</h2>-->

<%= image_tag('BSP-LOGO-RGB-20151.png', :size => '150x150', :class => 'featurette-image img-responsive center-block', :alt => 'install') %><br><br>



                    </div>



            <div id="finalcol6" class="col-md-2">
              <%= image_tag('Logo_daikin1.png', :size => '150x150', :class => 'featurette-image img-responsive center-block', :alt => 'install') %><br><br>

         </div>

         <div id="finalcol6" class="col-md-2">
            <%= image_tag('airedalelogo1.png', :size => '150x150', :class => 'featurette-image img-responsive center-block', :alt => 'install') %><br><br>


         </div>
           <div id="finalcol6" class="col-md-2">
            <%= image_tag('logoCIAT1.png', :size => '150x150', :class => 'featurette-image img-responsive center-block', :alt => 'install') %><br><br>

         </div>
         <div id="finalcol6" class="col-md-2">
            <%= image_tag('Panasonic_logo1.png', :size => '150x150', :class => 'featurette-image img-responsive center-block', :alt => 'install') %><br><br>

         </div>
         <div id="finalcol6" class="col-md-2">
            <%= image_tag('edpac1.png', :size => '150x150', :class => 'featurette-image img-responsive center-block', :alt => 'install') %><br><br>

         </div>

  </div>
  </div>



  </section>






 <!-- FOOTER -->
    <!--  <br />
      <br />
    <footer>
     <p class="pull-right"><a href="#">Back to top</a></p>
   <p>&copy; Crystal Air Ltd 2016. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
     </footer>-->

