


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag('overheadfan1.png', :alt => 'fan') %>
         <!-- <img class="first-slide" src="Crystal1.png" alt="First slide">-->
          <div id="carouselhead" class="container">
            <div class="carousel-caption">
              <h3>Ireland's Leading</h3>
              <h1>Air Conditioning</h1>
              <h3>Specialists in Installation, Service & Maintenance</h3>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div id="carouselhead" class="container">
            <div class="carousel-caption">
              <h1><span style="font-size: 30px; letter-spacing: 2px">Irelands Leading Air Conditioning Specialists. Why?</span></h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div id="carouselhead" class="container">
            <div class="carousel-caption">
              <h1><span style="font-size: 30px; letter-spacing: 2px">High Spec Design & Installation Projects.</span></h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
 <center><h2>Our Goals</h2></center>
 <div class="section-tout">
      <div class="container">

        <div class="row">
          <div id="servicecol4" class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-file-o"><%= image_tag('installicon.png', :class => 'fa fa-file-o', :size => '60x60', :alt => 'fan') %></i> Installation</h3>

            <p><span style="color: #fff">Because installation is so important, we have drawn up a thorough system to which our installation team adhere. We call it the Crystal Air process and we are happy to say that it has been validated by the ISO 9001 auditors. </span></p>
          </div>
          <div id="servicecol4" class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-github"><%= image_tag('serviceicon.png', :class => 'fa fa-file-o', :size => '60x60', :alt => 'fan') %></i>Service & Maintenance</h3>
            <p><span style="color: #fff">A planned regular maintenance programme will ensure that the equipment will function effectively and efficiently throughout its years of service and as a result will minimize breakdowns, spare parts costs and protect your investment. </span><!-- <a target="_blank" href="https://github.com/thomaspark/bootswatch">GitHub</a>.--></p>
          </div>
          <div id="servicecol4" class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-wrench"><%= image_tag('designiconpen.png', :class => 'fa fa-file-o', :size => '60x60', :alt => 'fan') %></i> Design</h3>
            <p><span style="color: #fff">At Crystal Air, we love a blank canvas
When you design a new area or building you have a unique opportunity to get your heating and cooling systems exactly right. Our engineers take a long-term view, taking into account your plans for the next expansion, be that next year or in ten years.
 </span><!--<a href="2/">Version 2</a> and <a target="_blank" href="https://github.com/thomaspark/bootswatch/tags">others</a> are also available to download.--></p>
          </div>
          <div id="servicecol4" class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-cogs"><%= image_tag('turnkeyicon.png', :class => 'fa fa-file-o', :size => '60x60', :alt => 'fan') %></i>Turnkey Solutions</h3>
             <p><span style="color: #fff">Turnkey solution partner - what does that mean? It means that we appoint and manage any additional contractors you need: builders, plumbers, electricians, and, where you need a job signed off for professional indemnity insurance purposes, we'll appoint a consulting engineer.</span></p>
          </div>
          <div id="servicecol4" class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-cloud"><%= image_tag('thermalstorageicon.png', :class => 'fa fa-file-o', :size => '60x60', :alt => 'fan') %></i> Thermal Energy Storage</h3>
            <p><span style="color: #fff">Proven in Europe, the USA and the Middle East, PCM TES is a more efficient and cost effective way to deliver energy to chill air. By creating and storing energy during off-peak periods which can then be used in high-demand periods, it spreads the daytime requirement for energy to chill or heat air across 24 hours resulting in important cost and capacity benefits.</span> <!--<a href="./help/#api">API</a> is available for integrating with your platform. In use by </span><a href="https://nodebb.org/" target="_blank">NodeBB</a>, <a href="http://yabdab.com/stacks/bootsnap" target="_blank">BootSnap</a>, and others.--></p>
          </div>
          <div id="servicecol4" class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-bullhorn"><%= image_tag('phone1icon.png', :class => 'fa fa-file-o', :size => '60x60', :alt => 'fan') %></i>24 Hour Support</h3>
            <p><span style="color: #fff">Whether you’re a consultant at design stage or an end user, you need to know that our systems will not let you down. In order to ensure that you get the most from your investment, we have engineered preventative maintenance programmes to international standards with 24 hour service 365 days a year.</span><!-- <a href="http://feeds.feedburner.com/bootswatch">RSS feed</a>, <a href="http://feedburner.google.com/fb/a/mailverify?uri=bootswatch&amp;loc=en_US">email</a>, or <a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Tumblr</a>.--></p>
          </div>
        </div>

      </div>
    </div>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

  <!--  <div class="container marketing">

      <!-- Three columns of text below the carousel -->
 <!--     <div class="row">
        <div class="col-lg-4">

          <%= image_tag('installwire.png', :size => '140x140', :alt => 'fan') %>
          <h2>Installation</h2>
          <p>As one of Ireland's leading air conditioning specialists, we offer a broad portfolio of indoor weather control systems including split systems, VRV and VRF systems, air-handling and ventilation units, chilled beams, inverter and non-inverter systems, grilles, VAV Units, Fan Coil Units.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
<!--        <div class="col-lg-4">
         <%= image_tag('servicewire.png', :size => '140x140', :alt => 'fan') %>
          <h2>Service & Maintenance</h2>
          <p>A planned regular maintenance programme will ensure that the equipment will function effectively and efficiently throughout its years of service and as a result will minimize breakdowns, spare parts costs and protect your investment. Whilst at the same time, provide a comfortable working environment for all. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
 <!--       <div class="col-lg-4">
          <%= image_tag('supportwire.png', :size => '140x140', :alt => 'fan') %>
          <h2>24 Hour Support</h2>
          <p>Whether you’re a consultant at design stage or an end user, you need to know that our systems will not let you down. In order to ensure that you get the most from your investment, we have engineered preventative maintenance programmes to international standards with 24 hour service 365 days a year.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

<!--      </div><!-- /.row -->
 <!-- <hr class="featurette-divider">-->

      <!-- START THE FEATURETTES -->
<section class="section-lines">
    <div class="container">
        <div class="row">
            <div id="latestprojectscol4" class="col-md-4">
                <div class="home-devices">
                    <h3 class="head3">Go Green With Crystal Air</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita vel quaerat illum aperiam facere inventore officia.</p>
                    <p>Consequuntur sed ipsum eius minima eum velit soluta accusamus omnis maiores modi quae mollitia consectetur adipisci.</p>

                </div>
            </div>
            <div id="latestprojectscol8" class="col-md-8">
                <div class="tab-content">

                       <%= image_tag('largesphere.png', :class => 'img-responsive', :size => '300x300', :id => 'img1', :alt => 'fan') %>

                </div>
            </div>
        </div>
    </div>
</section>


 <!--     <div class="row featurette">
        <center><h2> Latest Projects</h2></center>
        <div class="col-sm-7">
          <h2 class="featurette-heading">Complete Installation & Design. <span class="text-muted">High Spec.</span></h2>
          <p class="lead" style="line-height: 27px !important;
  font-size: 15px !important; color: #333;
   font-family: 'Open Sans',Arial, Helvetica, sans-serif !important;">Irish Distillers Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
           <center><p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p></center>
        </div>
        <div class="col-md-5">

   <%= image_tag('irishdistillers.jpg', :class => 'featurette-image img-responsive center-block', :size => '390x200', :alt => 'logo') %><!--data-src="irishdistillers.jpg/500x500/auto" alt="Generic placeholder image">-->
<!--    </div>
</div>-->


 <hr class="featurette-divider">
  <div class="container-fluid" style="background-color: grey;">
           <div class="projectsheader">Projects</div>



     <div class="col_4 first" style="background-color:#9CC"><p><%= image_tag('kclub.png', :class => 'img-work', :size => '390x200', :alt => 'logo') %></p></div>
     <div class="col_4 first" style="background-color:#9CC"><p><%= image_tag('irishdistillers.jpg', :class => 'img-work', :size => '390x200', :alt => 'logo') %></p></div>
     <div class="col_4 first" style="background-color:#9CC"><p><%= image_tag('symentec.jpg', :class => 'img-work', :size => '390x200', :alt => 'logo') %></p></div>

     <div id="projects2" class="container-fluid">

     <div class="col_4 first" style="background-color:#9CC"><p><%= image_tag('kclub.png', :class => 'img-work', :size => '390x200', :alt => 'logo') %></p></div>
     <div class="col_4 first" style="background-color:#9CC"><p><%= image_tag('irishdistillers.jpg', :class => 'img-work', :size => '390x200', :alt => 'logo') %></p></div>
     <div class="col_4 first" style="background-color:#9CC"><p><%= image_tag('symentec.jpg', :class => 'img-work', :size => '390x200', :alt => 'logo') %></p></div>
     </div>

      </div>


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Technology, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Thermal Energy Storage with Phase Change Materials (PCM TES) by Crystal Air
Proven in Europe, the USA and the Middle East, PCM TES is a more efficient and cost effective way to deliver energy to chill air. By creating and storing energy during off-peak periods which can then be used in high-demand periods, it spreads the daytime requirement for energy to chill or heat air across 24 hours resulting in important cost and capacity benefits. Here are just some advantages of PCM Thermal Energy Storage:</p>
           <center><p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p></center>
        </div>
        <div class="col-md-5 col-md-pull-7">
           <%= image_tag('chilled_water_tes.jpg', :size => '500x800', :class => 'featurette-image img-responsive center-block', :alt => 'install') %>
          <!--<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
        </div>
      </div>

      <hr class="featurette-divider">

   <!--   <div id="latestnews" class="row1featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Yes, We lay all the foundations for your. <span class="text-muted">Air Conditioning Needs.</span></h2>
          <p class="lead">Appoint Crystal Air as your turnkey solution partner and we will look after the entire job from beginning to end, freeing you up to look after your business.
Turnkey solution partner - what does that mean? It means that we appoint and manage any additional contractors you need: builders, plumbers, electricians, and, where you need a job signed off for professional indemnity insurance purposes, we'll appoint a consulting engineer.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag('turnkey.png', :size => '500x800', :class => 'featurette-image img-responsive center-block', :alt => 'install') %>
          <!--<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
  <!--      </div>
      </div>-->



      <!-- /END THE FEATURETTES -->



<div class="container">
    <section class="margin-bottom">
        <p class="lead lead-lg text-center primary-color margin-bottom">Knows the <strong>Artificial Reason</strong> and surprise yourself</p>
       <div lass="row">
            <div id="finalcol6" class="col-md-6">
                <h2 class="no-margin-top">About us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, alias, nihil molestias libero corporis perferendis a quasi at.</p>
                <p>Eos, illum, odit nulla provident sint atque quasi necessitatibus dolores voluptatibus perspiciatis aliquid tempora possimus laudantium. Blanditiis, deleniti!</p>
                <p>Saepe, laborum, eligendi vitae ad excepturi officiis vel omnis quidem et dolorum rem vero explicabo consequatur mollitia nihil!</p>
                <p>Fuga, omnis, quo, cumque, ipsa quasi facilis voluptatibus iure veniam nostrum voluptate accusantium dolore reprehenderit. Corrupti, mollitia, maiores!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ducimus, pariatur ad ipsam et quod numquam eveniet magni aspernatur.</p>

            </div>
            <div id="finalcol6" class="col-md-6">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          <i class="fa fa-lightbulb-o"></i> Talent and creativity
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae id ipsum ipsa repudiandae. Voluptatum, molestias, quas magnam repellat quos facilis sequi. Ullam optio eius deleniti dolore quasi doloribus ipsam incidunt perferendis.</p>
                        <p>Dolores, corrupti, laborum, officia sit aliquam doloremque accusantium nemo sunt veniam est incidunt perferendis minima obcaecati ex aperiam voluptatibus blanditiis eum suscipit magnam dolorum in adipisci nihil ipsam perspiciatis molestiae!</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                          <i class="fa fa-desktop"></i> Design and code
                        </a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit dignissimos inventore cupiditate expedita saepe enim nobis nostrum? Laborum, laudantium, maiores, cupiditate, perspiciatis at ad accusamus corporis sed ipsam et velit!</p>
                        <p>Incidunt, harum itaque voluptatum asperiores recusandae explicabo maiores. Alias, quos, ex impedit at error id laborum fugit architecto qui beatae molestiae dolorum rem veritatis quia aliquam totam accusamus perferendis. Nulla!</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                          <i class="fa fa-user"></i> Quality and Support
                        </a>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, rerum unde doloribus accusamus pariatur non expedita quibusdam velit totam obcaecati. Consequatur, deserunt, asperiores quam nisi earum voluptates animi labore tempore!</p>
                        <p>Dolorum, aliquam, totam labore saepe error a eum culpa assumenda sint laudantium ipsa iure ullam et dicta nesciunt repellendus optio voluptatibus reprehenderit odit officia fugiat necessitatibus recusandae architecto ad neque?</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>


       </div>
   </section>

</div>



 <!-- FOOTER -->
    <!--  <br />
      <br />
    <footer>
     <p class="pull-right"><a href="#">Back to top</a></p>
   <p>&copy; Crystal Air Ltd 2016. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
     </footer>-->

