



 <!--  <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
 <!--   <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 <!--   <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<!--    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
<!--    <link href="carousel.css" rel="stylesheet">
  </head>-->
<!-- NAVBAR
src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==
================================================== -->
 <!-- <body>
     <!-- Columns are always 50% wide, on mobile and desktop -->
<!--<div class="row">
  <div class="col-xs-6"><%= image_tag('Crystal1.png', :size => '500x120', :alt => 'logo') %></div>
  <div class="col-xs-6 col-sm-3"><%= image_tag('addressicon.png', :size => '25x25', :alt => 'logo') %><span style="padding-left: 1em">Unit 3, Butterstream,<span style="padding-left: 2.8em"> Business Park, Clane</span></div>
   <div class="col-xs-6 col-sm-3"><center><%= image_tag('phone-volume.png', :size => '25x25', :alt => 'logo') %><span style="padding-left: 1em">045-893228</span></center></div>
</div>

    <!--<div class="navbar-wrapper">
      <div class="container">-->

   <!--     <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <!-- <a class="navbar-brand" href="#"></a>-->
   <!--         </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">AboutUs</a></li>
                <li><a href="#contact">Services</a></li>
                <li><a href="#about">Projects</a></li>
                <li><a href="#contact">Partners</a></li>
                <li><a href="#about">Our Team</a></li>
                <li><a href="#contact">Testimonials</a></li>
                <li><a href="#about">Enviornmental</a></li>
                <li><a href="#contact">Certificates</a></li>
                <li><a href="#about">News</a></li>
                <li><a href="#contact">ContactUs</a></li>
                <!--<li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                                <li><a href="#contact">Contact</a></li>-->






<!--
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
         </div>
        </nav>-->

    <!--  </div>
    </div>


    -

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Installation</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Service & Maintenance</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Design</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <center><h2> Latest News</h2></center>
        <div class="col-sm-7">
          <h2 class="featurette-heading">Complete Installation & Design. <span class="text-muted">High Spec.</span></h2>
          <p class="lead">Irish Distillers Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
           <center><p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p></center>
        </div>
        <div class="col-md-5">
          <%= image_tag('irishdistillers.jpg', :size => '500x800', :class => 'featurette-image img-responsive center-block', :alt => 'install') %>
          <!--<img class="featurette-image img-responsive center-block" data-src="irishdistillers.jpg/500x500/auto" alt="Generic placeholder image">-->
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Technology, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Thermal Energy Storage with Phase Change Materials (PCM TES) by Crystal Air
Proven in Europe, the USA and the Middle East, PCM TES is a more efficient and cost effective way to deliver energy to chill air. By creating and storing energy during off-peak periods which can then be used in high-demand periods, it spreads the daytime requirement for energy to chill or heat air across 24 hours resulting in important cost and capacity benefits. Here are just some advantages of PCM Thermal Energy Storage:</p>
           <center><p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p></center>
        </div>
        <div class="col-md-5 col-md-pull-7">
           <%= image_tag('chilled_water_tes.jpg', :size => '500x800', :class => 'featurette-image img-responsive center-block', :alt => 'install') %>
          <!--<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
        </div>
      </div>

      <hr class="featurette-divider">

      <div id="latestnews" class="row1featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Yes, We lay all the foundations for your. <span class="text-muted">Air Conditioning Needs.</span></h2>
          <p class="lead">Appoint Crystal Air as your turnkey solution partner and we will look after the entire job from beginning to end, freeing you up to look after your business.
Turnkey solution partner - what does that mean? It means that we appoint and manage any additional contractors you need: builders, plumbers, electricians, and, where you need a job signed off for professional indemnity insurance purposes, we'll appoint a consulting engineer.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag('turnkey.png', :size => '500x800', :class => 'featurette-image img-responsive center-block', :alt => 'install') %>
          <!--<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
       <!-- <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
     </footer>

    </div><!-- /.container


