<!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Projects
                    <small>Hotels</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="col-md-4 portfolio-item">
              <a href="#">
                    <%= image_tag('findlaterProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #777">Findlater Hotel</span></a>
                </h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
                <!--<a href="#">
                   <%= image_tag('distillersProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                   <a href="#"><span style="color: #777">Irish Distillers</span></a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>-->
            <div class="col-md-4 portfolio-item">
                <a href="#">
                     <%= image_tag('crownplazapro700x400.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #777">Crown Plaza Hotel</span></a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                   <%= image_tag('kclubProject.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #777">K Club</span></a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="col-md-4 portfolio-item">
              <a href="#">
                     <%= image_tag('flemingpro700x400.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #777">Fleming Court Hotel</span></a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
              <!-- <a href="#">
                     <%= image_tag('symentecProject700x400.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #777">Symantec</span></a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>-->
            <div class="col-md-4 portfolio-item">
              <a href="#">
                     <%= image_tag('jurysinnpro700x400.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #777">Jury's Inn Hotel</span></a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
               <!-- <a href="#">
                     <%= image_tag('ashtownpro700x400.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #777">Ashtown Gate Development</span></a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>-->
            <div class="col-md-4 portfolio-item">
                <a href="#">
                     <%= image_tag('crownplazapro700x400.png', :class => 'img-responsive', :size => '750x450', :alt => 'projects') %>
                </a>
                <h3>
                  <a href="#"><span style="color: #777">Crown Plaza Hotel</span></a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
</div>