

 <!-- Page Content -->
    <div class="container" style="width: 100%;
">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Our Team
                    <!--<small>It's Nice to Meet You!</small>-->
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
               <!-- <h2 class="page-header">Our Team</h2>-->
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
               <%= image_tag('domnick.png', :class => 'img-circle img-responsive img-center', :size => '200x200', :alt => 'ourteam') %>

                <h3 style="font-size: 24px; margin-top: 20px;
    margin-bottom: 10px; font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;">Domnick Ward
                    <small>Managing Director, Sales & Design Engineer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
              <%= image_tag('don.png', :class => 'img-circle img-responsive img-center', :size => '300x201', :alt => 'ourteam') %>

                <h3 style="font-size: 24px; margin-top: 20px;
    margin-bottom: 10px; font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;">Don Hoban
                    <small>Business Development, Design Engineer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <%= image_tag('domnick.png', :class => 'img-circle img-responsive img-center', :size => '200x200', :alt => 'ourteam') %>
                <h3 style="font-size: 24px; margin-top: 20px;
    margin-bottom: 10px; font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;">Domnick Ward
                    <small>Managing Director, Sales & Design Engineer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
<%= image_tag('mary.png', :class => 'img-circle img-responsive img-center', :size => '300x201', :alt => 'ourteam') %>

                <h3 style="font-size: 24px; margin-top: 20px;
    margin-bottom: 10px; font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;">Don Hoban
                    <small>Business Development, Design Engineer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                 <%= image_tag('domnick.png', :class => 'img-circle img-responsive img-center', :size => '200x200', :alt => 'ourteam') %>
                <h3 style="font-size: 24px; margin-top: 20px;
    margin-bottom: 10px; font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;">Domnick Ward
                    <small>Business Development, Design Engineer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <%= image_tag('don.png', :class => 'img-circle img-responsive img-center', :size => '200x200', :alt => 'ourteam') %>
                <h3 style="font-size: 24px; margin-top: 20px;
    margin-bottom: 10px; font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;">Don Hoban
                    <small>Business Development, Design Engineer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>
