<div id="projects" class="container-fluid">

           <div class="projectsheader">Projects</div>
            <div id="main">

                <div id="1"> <%= image_tag('kclub.png', :class => 'img-work', :size => '390x200', :alt => 'logo') %><h6>K Club</h6></div>
                <div id="2"> <%= image_tag('irishdistillers.jpg', :class => 'img-work', :size => '390x200', :alt => 'logo') %><h6>Irish Distillers</h6></div>

                <div id="3"><%= image_tag('symentec.jpg', :class => 'img-work', :size => '390x200', :alt => 'logo') %><h6>Symentec</h6></div>

            </div>
            <div id="main">

                <div id="4"> <%= image_tag('westbury.jpg', :class => 'img-work', :size => '390x200', :alt => 'logo') %><h6>Westbury Hotel</h6></div>
                <div id="5"> <%= image_tag('alexander.jpg', :class => 'img-work', :size => '390x200', :alt => 'logo') %><h6>Alexander Hotel</h6>
                <br /><a href="/home/projects" class="btnwork">View More ></a></div>
                <div id="6"> <%= image_tag('Findlater-House.jpg', :class => 'img-work', :size => '390x200', :alt => 'logo') %><h6>Findlater House Hotel</h6></div>

            </div>


        </div>