



<div id="main" class="" style="overflow:hidden !important;">
        <div class="avada-row" style="">
            			<div id="content" style="float:left;">

						<div class="post-content">
				<h2>Installation</h2>
<p> <%= image_tag('installicon.png', :class => 'alignright', :size => '120x120', :alt => 'fan') %><!--<img class="alignright  wp-image-4757" src="/wp-content/uploads/2013/01/hosting_icon.png" alt="hosting_icon" width="201" height="179" srcset="http://www.maxburst.com/wp-content/uploads/2013/01/hosting_icon-300x267.png 300w, http://www.maxburst.com/wp-content/uploads/2013/01/hosting_icon.png 400w" sizes="(max-width: 201px) 100vw, 201px">--></p>
<p>We provide a safe working environment through our health and safety policy and operating procedures. Our mission is to deliver projects on time, within budget with a right first time approach. We are committed to our clients at all times and we take great care to satisfy and support our client’s needs.
Crystal Air install a variety of equipment, depending on each project application, these consist of split systems, VRF, GHP, heat recovery, chillers, air handling and close control units. </p>
<p>Crystal Air’s installation teams have between them the expertise to carry out these intricate types of projects for our clients.</p>
<h2>Service & Maintenance</h2>
<p> <%= image_tag('serviceicon.png', :class => 'alignright', :size => '120x120', :alt => 'fan') %>Crystal Air provides a 24-7-365 service for any HVAC equipment or system, regardless of the manufacturer and whether we installed it or not. That means you have the peace of mind of knowing that your air-conditioning equipment will be out of commission for the shortest time possible.

Quick reaction time to mission critical plant

Certain HVAC equipment could be described as ‘mission critical’. If it malfunctions, your business could be in serious trouble. This can be the case with comms room systems, for example. If the temperature fluctuates, something happens to the air-flow or the humidity increases and your server could go. Everything could be lost. It’s unimaginable.

Jump to the top of the queue

You can leapfrog the queue all the time by taking out a maintenance plan with Crystal Air, so not only will you be less likely to have an outage but your service call will be given priority in the event that you do.
Talk to us about maintenance contracts, extended warranties and comprehensive pricing. </p>
<p>Our maintenance contracts are designed to pre-empt problems so as to minimise down time and the costs of repair, spare parts or replacement, not to mention reducing the unnecessary harm to the environment caused by inefficient systems.

Let us worry about your maintenance programme

You know that a planned programme of regular maintenance will ensure that your plant will function more efficiently over its lifespan, so why not delegate the implementation of that maintenance programme to Crystal Air so that your facilities manager can get on with the many other demands on his or her time?

If you’re not happy with the service you’re getting from your current supplier, give us a call for a free quotation.</p>
<p>&nbsp;</p>

<h2>Turnkey Solutions</h2>
<p><%= image_tag('turnkeyicon.png', :class => 'alignright', :size => '120x120', :alt => 'fan') %>Appoint Crystal Air as your turnkey solution partner and we will look after the entire job from beginning to end, freeing you up to look after your business.
Turnkey solution partner - what does that mean? It means that we appoint and manage any additional contractors you need: builders, plumbers, electricians, and, where you need a job signed off for professional indemnity insurance purposes, we'll appoint a consulting engineer.
We look after the day-to-day stuff leaving you free to get on with your job.
Sounds great doesn't it? But to take on a turnkey partner you need to give up a little bit of control. In order to do that, you need to be fully confident that your partner has it covered. </p>
<p>Crystal Air delivers on all of those factors and more. We have partnered with some of the best contractors in the business. Because of our on-going relationship with them, we can offer you the very best value.</p>
<p>&nbsp;</p>

<h2>Design</h2>
<p><%= image_tag('designiconpen.png', :class => 'alignright', :size => '120x120', :alt => 'fan') %>Having an SSL certificate for your site lets your customers know that their personal data is being sent to a legitimate organization and that their personal information will be encrypted while it is transmitted. Site abandonment rates are high for ecommerce sites without SSL certificates. This can lead to lost revenue, unhappy customers, and effect your reputation.</p>
<p>MAXBURST knows how important your customers’ trust is to you when they are shopping or entering personal information on your site. We offer SSL certificates from the most recognized brands in the business.</p>
<p>&nbsp;</p>

<h2>Commisioning</h2>
<p><%= image_tag('designiconpen.png', :class => 'alignright', :size => '120x120', :alt => 'fan') %>
  At Crystal Air, we love a blank canvas
When you design a new area or building you have a unique opportunity to get your heating and cooling systems exactly right. Our engineers take a long-term view, taking into account your plans for the next expansion, be that next year or in ten years.

There are so many technological advancements that buildings can be so much more efficient if the HVAC structures are well planned from the outset. For all the reasons we set out on our services landing page, we are your very best partner for HVAC new builds.

</p>
<p>&nbsp;</p>

<h2>Contracts / New Builds</h2>
<p><%= image_tag('designiconpen.png', :class => 'alignright', :size => '120x120', :alt => 'fan') %>At Crystal Air, we love a blank canvas
When you design a new area or building you have a unique opportunity to get your heating and cooling systems exactly right. Our engineers take a long-term view, taking into account your plans for the next expansion, be that next year or in ten years.

There are so many technological advancements that buildings can be so much more efficient if the HVAC structures are well planned from the outset. For all the reasons we set out on our services landing page, we are your very best partner for HVAC new builds.

</p>
<p>We apply our two decades of experience to make sure that there is minimum disruption to the workplace while the works are going on.</p>
<p>&nbsp;</p>

<h2>Thermal Energy Storage</h2>
<p> <%= image_tag('thermalstorageicon.png', :class => 'alignright', :size => '120x120', :alt => 'fan') %>PCM TES - 6 letters you will want to become familiar with
Thermal Energy Storage with Phase Change Materials (PCM TES) by Crystal Air
Proven in Europe, the USA and the Middle East, PCM TES is a more efficient and cost effective way to deliver energy to chill air. By creating and storing energy during off-peak periods which can then be used in high-demand periods, it spreads the daytime requirement for energy to chill or heat air across 24 hours resulting in important cost and capacity benefits. Here are just some advantages of PCM Thermal Energy Storage:</p>
<p>TES bridges the gap between energy storage and energy use and is used within HVAC systems for cooling and heating schemes.  TES schemes may offer full or partial storage.
Typically, you’ll recoup your costs within three years. </p>
<p>&nbsp;</p>




							</div>
											</div>
			</div>

	<div id="sidebar" style="float:right;"><div id="text-11" class="widget widget_text">			<div class="textwidget"><a class="continue button large default" target="" href="/request-quote/">REQUEST A QUOTE</a><br clear="all">
</div>
		</div><div id="recent_works-widget-4" class="widget recent_works"><div class="heading"><span style="text-align: center"><h3>Recent Projects</h3></span></div>		<div class="recent-works-items clearfix">
								<a href="http://www.maxburst.com/portfolio-items/contemporary-tours/" title="Contemporary Tours">
			<%= image_tag('irish-distillerslogo.png', :class => 'attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image', :size => '120x70', :alt => 'fan') %> 		</a>


			<%= image_tag('westbury_hotel_logo.jpg', :class => 'attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image', :size => '120x70', :alt => 'fan') %>

			<%= image_tag('findlaterlogo.png', :class => 'attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image', :size => '120x70', :alt => 'fan') %>

			<%= image_tag('The_K_Club_Logo.png', :class => 'attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image', :size => '120x70', :alt => 'fan') %>


		<%= image_tag('symanteclogo.png', :class => 'attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image', :size => '120x70', :alt => 'fan') %>
    <a href="http://www.maxburst.com/portfolio-items/foto-exchange/" title="Foto Exchange">
		<%= image_tag('temple-bar-hotel.png', :class => 'attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image', :size => '120x70', :alt => 'fan') %></a>
				</div>

<hr>

		</div><div id="contact_info-widget-3" class="widget contact_info"><div class="heading"><h3>Contact Info</h3></div>		<div class="contact-info-container">
				<p class="address"><strong>Address:</strong>  Unit 3, Butterstream <br>   Business Park,<br> Clane <br>Co. Kildare</p>

    <p class="phone"><strong>Phone:</strong> 045-893228</p>


			<!--	<p class="fax">Fax: 631-270-1502</p>-->

    <p class="email"><strong>Email:</strong><a href="info@crystalair.ie"> info@crystalair.ie</a></p>
     <hr>
<br>
    <p class="web"> <span style="color: #A3BB85; font-weight: 700; font-size: 18px ">Our Companies</span><br>
     <strong> Crystal Air Ltd is part of Crystal Air Holdings with offices in Finland, Netherlands and Ireland.</strong>
    <br>
<br>
    <p class="web"> <span style="color: #A3BB85; font-weight: 700; font-size: 18px ">Crystal Air PCM</span><br><strong>Is a group company of the Crystal Air group of companies.</strong><br><br><strong>Web:</strong> <a href="http://www.crystalairpcm.ie/"><span style="color: #A3BB85; font-weight: 700 ">crystalairpcm.ie</span></a></p>
    <br><br>
    <p><span style="color: #A3BB85; font-weight: 700; font-size: 18px ">What are PCMs?</span><br><br>
A Phase Change Material (PCM) is anything that releases energy when it changes state; say from liquid to solid or vice versa. PCMs act as latent thermal storage materials. Our Thermal Energy Storage systems use PCMs as the storage material in one of two forms: Crystal T-Paks or Crystal Spheres.

The PCMs we use are encapsulated in HDPE containers in battery format making them suitable for new projects and retrofits without the need for any major disruption of the system design or the need to select low temperature chillers and high glycol content installations.
<br><br>
      <strong>Give us a call today on <span style="color: blue">045 893228</span>
        to start saving.</strong>

</p>

    <br><br>

    <p><span style="color: #A3BB85; font-weight: 700; font-size: 18px ">Free R22 Site Survey</span><br><br>Crystal  Air offers you a free site Survey on possible R22 replacement options.
This will provide you with best fit options for your air conditioning system.</p><br><br>
<p><embed height="300" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://www.youtube.com/v/V9_zV_3s5jQ%26hl=en%26fs=1%26rel=0%26ap=%2526fmt=18%26modestbranding=1" type="application/x-shockwave-flash" width="300"></embed></p>

<p>&nbsp;</p>
				</div>
		</div>
</div>
</div>

