<aside id="footer-widgets">
    <div id="footerstyle" class="container">
        <div id="footerrow" class="row">
            <div id="footercol" class="col-md-4">
                <h3 class="footer-widget-title">Sitemap</h3>
                <ul class="list-unstyled three_cols">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="blog.html">AboutUs</a></li>
                    <li><a href="portfolio_sidebar.html">Services</a></li>
                    <li><a href="portfolio_topvar.html">Projects</a></li>
                    <li><a href="page_timeline_left.html">Partners</a></li>
                    <li><a href="page_pricing.html">Our Team</a></li>
                    <li><a href="page_about2.html">Testimonials</a></li>
                    <li><a href="page_team.html">Enviornmental</a></li>
                    <li><a href="page_services.html">Certificates</a></li>
                    <li><a href="page_support.html">News</a></li>
                    <li><a href="page_login_full.html">ContactUs</a></li>

                </ul>
                <h3 class="footer-widget-title">Subscribe</h3>
                <p>Enter your email address to keep up to date with the latest advances at Crystal Air.</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email Adress">
                    <span class="input-group-btn">
                        <button class="btn btn-ar btn-primary" type="button">Subscribe</button>
                    </span>
                </div><!-- /input-group -->
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Recent Post</h3>
                    <div class="media">
                    <a class="pull-left" href="#"><%= image_tag('installicon.png', :class => 'media-object', :size => '75x75', :alt => 'Image') %></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Latest Technology advances see's Crystal Air stepping into the future.</a></h4>
                            <small>March 21, 2016</small>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#"><%= image_tag('designiconpen.png', :class => 'media-object', :size => '75x75', :alt => 'Image') %></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Crystal Air all green for St Patricks Day</a></h4>
                            <small>March 17, 2015</small>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#"><%= image_tag('handshakeicon.png', :class => 'media-object', :size => '75x75', :alt => 'Image') %></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Crystal Air strenghtens its partnership with Mitsubishi Electric</a></h4>
                            <small>March 9, 2016</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Recent Projects</h3>
                    <div class="row">
                        <div id="footercol6" class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                           <!-- <a href="#" class="thumbnail"> --><%= image_tag('Findlater-House.jpg', :class => 'img1', :size => '155x103', :alt => 'Image') %>
                        </div>
                        <div id="footercol6" class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                         <!--   <a href="#" class="thumbnail">--> <%= image_tag('irishdistillers.jpg', :class => 'img1', :size => '155x103', :alt => 'Image') %>
                        </div>
                        <div id="footercol6" class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                           <!-- <a href="#" class="thumbnail">--> <%= image_tag('kclub.png', :class => 'img1', :size => '155x103', :alt => 'Image') %>
                        </div>
                        <div id="footercol6" class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                         <!--   <a href="#" class="thumbnail">--> <%= image_tag('symentec.jpg', :class => 'img1', :size => '155x103', :alt => 'Image') %>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
<footer id="footer">
    <p> 2016 <a href="#">Crystal Air Ltd</a>  All rights reserved.</p>
</footer>
<div id="back-top">
    <a href="#">Top<i class="fa fa-chevron-up"></i></a>
</div>