

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


<!--*-*-*-*-*-*-*-*-*-*- Header *-*-*-*-*-*-*-*-*-*-->

	<header id="immortal_header">


		<!--*-*-*-*-*-*-*-*-*-*- TOP BAR *-*-*-*-*-*-*-*-*-*-->

		<div class="container-fluid top_bar_container_fluid">
			<div class="container">
				<div class="row">

					<div class="col-md-4 top_bar_line_height">

						<!--======= Login Button =========-->


<% if current_user %>



<%= link_to ('<i class="fa fa-sign-in"></i> ' + truncate(current_user.email, length: 25)).html_safe,

edit_user_registration_path, title: 'Edit Profile' %>





<%= link_to('Logout', destroy_user_session_path,

class: 'btn btn-xs btn-danger', title: 'Logout', :method => :delete) %>

<% else %>



<a href="#top_bar_login_modal" data-toggle="modal" id="top_bar_login_btn"><i class="fa fa-sign-in"></i><%= link_to('Login', new_user_session_path,
  id: 'top_bar_login_btn', title: 'Sign In') %></a>


					<!--	<a href="#top_bar_login_modal" data-toggle="modal" id="top_bar_login_btn">
							<i class="fa fa-sign-in"></i> Login |class: 'btn btn-primary',
						</a>-->
<% end %>
						<!--======= Register Button =========-->
						<a href="#top_bar_register_modal" data-toggle="modal" id="top_bar_register_btn">
							<i class="fa fa-key"></i> Register |
						</a>

						<!--======= Search Button =========-->
						<a href="#top_bar_search_modal" data-toggle="modal" id="top_bar_search_btn">
							<i class="fa fa-search"></i> Search |
						</a>

					</div>

					<!--======= Phone Number =========-->
					<div class="col-md-2 top_bar_line_height" id="top_bar_phone">
						<i class="fa fa-phone"></i> |  (045) 89 33 00
					</div>

					<!--======= E-mail =========-->
					<div class="col-md-3 top_bar_line_height" id="top_bar_email">
						<i class="fa fa-envelope"></i>
						<a href="#" target="_blank"> | info@crystalair.ie</a>
					</div>

					<!--======= Social Media Icons =========-->
					<div class="col-md-3" id="top_bar_social_icons">
						<ul class="pull-right">
							<li>
								<a href="#"  target="_blank" data-toggle="tooltip" data-placement="bottom" title="1M">
									<i class="fa fa-facebook" style="color: #fff"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="0.5M">
									<i class="fa fa-twitter" style="color: #fff"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="5.0k">
									<i class="fa fa-google-plus" style="color: #fff"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Skype">
									<i class="fa fa-skype" style="color: #fff"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="2.5k">
									<i class="fa fa-youtube" style="color: #fff"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Rss">
									<i class="fa fa-rss" style="color: #fff"></i>
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div> <!--*-*-*-*-*-*-*-*-*-*- End Top Bar *-*-*-*-*-*-*-*-*-*-->
</header>
<!--
<section class="logo"style="width: 100%; height: 100px; background-color: #fff">
<%= image_tag('Crystal1.png', :size => '400x100', :alt => 'fan') %>
</section>-->

<!-- Navigation -->
   <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <%= image_tag('Crystal1.png', :size => '400x100', :alt => 'fan') %>
               <!-- <a class="navbar-brand" href="index.html">Start Bootstrap</a>-->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                        <a href="about.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="contact.html">Projects</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">1 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-item.html">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-home-1.html">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="blog-home-2.html">Blog Home 2</a>
                            </li>
                            <li>
                                <a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="full-width.html">Full Width Page</a>
                            </li>
                            <li>
                                <a href="sidebar.html">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li>
                            <li>
                                <a href="pricing.html">Pricing Table</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
