
<div class="container clearfix" style="width: 100%">
  <div class="grid_6">
<!--<div id="head" class="row">-->
  <!--<div class="col-xs-6">--><%= image_tag('Crystal1.png', :class => "responsive", :size => '500x100', :alt => 'logo') %></div>
  <!--<div class="col-xs-6 col-sm-3">-->  <div class="grid_6" style="margin-top: 5%"><span style="float: right; margin-bottom: 1%;"><%= image_tag('addressicon.png', :size => '25x25', :alt => 'logo') %><span style="padding-left: 1em">Unit 3, Butterstream,</span> Business Park, Clane
  <!-- <div class="col-xs-6 col-sm-3">--><span style="padding-left: 1em;"><%= image_tag('phone-volume.png', :size => '25x25', :alt => 'logo') %><span style="padding-left: 1em">045-893228</span></span></span></div></div>




    <!--<div class="navbar-wrapper">
      <div class="container">-->

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <!-- <a class="navbar-brand" href="#"></a>-->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to 'Home', root_path %></li><!--class="active"-->

                <li><%= link_to 'AboutUs', aboutus_path %></li>

                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'All Services', services_path %></li>
                     <li><a href="#">Installation</a></li>
                    <li><a href="#">Service & Maintenance</a></li>
                    <li><a href="#">Design</a></li>
                    <!--<li role="separator" class="divider"></li>
                  <li class="dropdown-header">International</li>-->
                    <li><a href="#">Turnkey Solutions</a></li>
                    <li><a href="#">Thermal Energy Storage</a></li>
                    <li><a href="#">Contracts/New Builds</a></li>
                  </ul>
                </li>


                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Hotels', projects_path %></li>
                    <li><a href="#">Commercial Office Buildings</a></li>
                    <li><a href="#">Data Centers</a></li>
                    <!--<li role="separator" class="divider"></li>
                  <li class="dropdown-header">International</li>-->
                    <li><a href="#">International</a></li>
                    <li><a href="#"></a></li>
                  </ul>
                </li>

                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Partners<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Mitsubishi', partners_path %></li>
                    <li><a href="#">Daikin</a></li>
                    <li><a href="#">CIAT</a></li>
                    <!--<li role="separator" class="divider"></li>
                  <li class="dropdown-header">International</li>-->
                    <li><a href="#">Airedale</a></li>
                    <li><a href="#">Panasonic</a></li>
                    <li><a href="#">Edpac</a></li>
                  </ul>
                </li>


                <li><a href="#about">Our Team</a></li>
                <li><a href="#contact">Testimonials</a></li>
                <li><a href="#about">Enviornmental</a></li>
                <li><a href="#contact">Certificates</a></li>
                <li><a href="#about">News</a></li>
                <li><a href="#contact">ContactUs</a></li>
                <!--<li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                                <li><a href="#contact">Contact</a></li>-->







                
              </ul>
            </div>
         </div>
        </nav>

